<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<div class="w3-container w3-center w3-padding-32">
  <h1><b>RECOMMENDED COURSES</b></h1>
</div>

  <style>
table {
    font-family: "Raleway", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


<table>
  <tr>
    <th>Course Code</th>
    <th>Title</th>
    <th>Description</th>
    <th>Days</th>
      <th>Start Time</th>
      <th>End Time </th>
  </tr>
  <tr>
    <td>21241</td>
    <td>Matrices and Linear Transformations</td>
    <td>A first course in linear algebra intended for scientists, engineers, mathematicians and computer scientists. Students will be required to write some straightforward proofs.</td>
    <th>M W</th>
    <th>12:00</th>
    <th>1:20 </th>
  </tr>
  <tr>
    <td>76270</td>
    <td>Writing for the Professions</td>
    <td>The basic idea of the course is to give you experience in developing the writing skills you will be expected to have as you make the transition from student to professional.</td>
    <th>W F</th>
    <th>10:00</th>
    <th>11:20 </th>
  </tr>
  <tr>
    <td>15150</td>
    <td>Principles to Functional Programming</td>
    <td>An introduction to programming based on a "functional" model of computation.</td>
    <th>T Th</th>
    <th>12:00</th>
    <th>1:20 </th>
  </tr>
  <tr>
    <td>15354</td>
    <td>Computational Discrete Mathematics</td>
    <td>This course is about the computational aspects of some of the standard concepts of discrete mathematics (relations, functions, logic, graphs, algebra, automata), with emphasis on efficient algorithms. </td>
    <th>T Th</th>
    <th>1:30</th>
    <th>2:50</th>
  </tr>
  <tr>
    <td>27100</td>
    <td>Engineering the Materials of the Future</td>
    <td>Materials form the foundation for all engineering applications. Advances in materials and their processing are driving all technologies, including the broad areas of nano-, bio-, energy, and electronic (information) technology..</td>
    <th>M W F</th>
    <th>9:00</th>
    <th>10:30 </th>
  </tr>
</table>

<form action = "/main2">
  <input type="submit" value="Return to Main Page" class="w3-btn w3-section w3-right"></input>

</body>
</html>

